In [2]:
import pandas as pd

In [33]:
df = pd.read_fwf("signal1m_tweets_qrels", names=['topic','iteration','document','rel'])

df[df.document==645936801232912384]
df.shape

(6103, 4)

In [7]:
import tweepy as tw
'''
if need to log in to the twitter account:
username = eugene_tan@mymail.sutd.edu.sg
password = P@ssword1
'''

consumer_key= 'LKvavXktNliE3LL52KNK48oWd'
consumer_secret= 'PsSoEz5JRYdrozOe8uBkgphm3YlTipYREexIyJQi4VDVZv9htI'
access_token= '1411277462630146057-ATYdgNSGb3EGBFim8w1sQ8kRGOR7QH'
access_token_secret= 'S3N1R58XNvrucIOgsKIxZY4CSfngnrd6XHIlWCu0k4PaP'
bearer_token= 'AAAAAAAAAAAAAAAAAAAAAOskRQEAAAAA5JKli8luYWK%2BzRTWfn1kLwjv58s%3DWNBJ8KrY0xEwZBqxqLzCjde2fGWM3wBMeq4uyvWoLX5BNfIHHp'

auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [54]:
def get_tweet(id):
    output = ''
    try:
        output = api.get_status(id=id.document).text
    except:
        pass
    return output

df['text']=df.apply(lambda x:get_tweet(x), axis=1)

df.head()

,topic,iteration,document,rel,text
0,00ecb565-8dcb-443e-875c-71babdce2269,0,638637447023194112,0,Video: Shippers look to grab a piece of North...
1,00ecb565-8dcb-443e-875c-71babdce2269,0,638727826393444352,1,Police say woman was driving drunk with kids i...
2,00ecb565-8dcb-443e-875c-71babdce2269,0,639043756038074369,1,Hit-and-Run Driver Seriously Injures Man in Po...
3,00ecb565-8dcb-443e-875c-71babdce2269,0,639219133859631104,0,#UPDATE: Man in critical condition after being...
4,00ecb565-8dcb-443e-875c-71babdce2269,0,639325701297041408,1,A Barrie woman that was run over by a drunk dr...

In [ ]:
df = df[df.text!='']
df.to_csv("dataset_scrapped.csv", header=False)

In [70]:
data = pd.read_csv('dataset_scrapped.csv', names=['topic','iteration','document','rel', 'text'])
data.head()

,topic,iteration,document,rel,text
0,00ecb565-8dcb-443e-875c-71babdce2269,0,638637447023194112,0,Video: Shippers look to grab a piece of North...
1,00ecb565-8dcb-443e-875c-71babdce2269,0,638727826393444352,1,Police say woman was driving drunk with kids i...
2,00ecb565-8dcb-443e-875c-71babdce2269,0,639043756038074369,1,Hit-and-Run Driver Seriously Injures Man in Po...
3,00ecb565-8dcb-443e-875c-71babdce2269,0,639219133859631104,0,#UPDATE: Man in critical condition after being...
4,00ecb565-8dcb-443e-875c-71babdce2269,0,639325701297041408,1,A Barrie woman that was run over by a drunk dr...

In [95]:
from nltk.corpus import words
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
import nltk

porter = PorterStemmer() ## stemming reduces the word to root word
words = words.words()
vsm = {}

def stem_lower(word):
    return porter.stem(word.lower())

for i in list(set(zip(data['document'], data['text']))):
    # print(i[0], i[1])
    tokens = word_tokenize(i[1])
    # print(len(tokens))
    tokens = list(filter(lambda x: x.isalpha(), tokens))
    # tokens = list(filter(lambda x: x in words, tokens)) ## this removes too much semantics
    tokens = list(map(stem_lower, tokens))
    # print(len(tokens))
    vsm[str(i[0])] = tokens

vsm['645687105964912640']

['scene',
 'from',
 'buffalo',
 'the',
 'new',
 'england',
 'patriot',
 'take',
 'on',
 'rex',
 'ryan',
 'and',
 'the',
 'bill',
 'http',
 'http']

In [84]:
data[data.document==645687105964912640].text

1556    Scenes from Buffalo: the New England Patriots ...
Name: text, dtype: object